$column: 90px;
$gutter: 30px;
$grid-columns: 12;
$max-width: 1040px;
$visual-grid: false;

$outer-space: #2E343A;
$white: #FFFFFF;
$como: #528B6E;
$black: #000000;

$tablet-breakpoint: 768px;
$laptop-breakpoint: 1040px;
