---
title: Imprint
---
<div class="container">
  <h1>
    Imprint
  </h1>

  <p>
    David Strauß<br>
    Schanzlgasse 4A<br>
    5020 Salzburg<br>
    Österreich
  </p>

  <p>
    +43 664 216 403 4<br>
    david@strauss.io
  </p>
</div>
