---
title: Play Darts with Friends Online
---
<div class="container">
  <h1>
    Coming Soon: Remote Darts Matches
  </h1>

  <p>
    <strong>Thank you for staying home and doing your part against COVID-19!</strong><br>
    Soon you will be able to play darts with your friends or complete strangers from the safety of your home. There is a lot of work to be done before this is a reality. In the meantime you can use following workarounds and join the waiting list.
  </p>

  <p>
    Use a remote screen sharing software like <a href="https://www.teamviewer.com">TeamViewer</a> as a workaround. One of you starts a match on dartboard.io as usual. Then you share your screen with the installed software so your friend can see the scores and enter darts. <strong>Only do this with people you trust!</strong>
  </p>

  <p>
    If that is not an option maybe you can try the dartboard.io computer players. They are bots with different skill levels that play automatically against you.
  </p>
</div>

<div class="container">
  <h2>
    Waiting list for Remote Darts
  </h2>

  <p>
    Why should you join yet another mailing list?
  </p>

  <ol>
    <li>You will be first in line when the feature goes live. Due to limited server resources and budget access will be probably limited.</li>
    <li>You motivate us to work hard. It's a lot of work to build it right. By showing us your interest we will know beforehand that our effort is not wasted.</li>
    <li>Give feedback and have a chance to shape the feature. You know best what you need to enjoy darts with your friends while playing online.</li>
    <li>Regular updates on how far the work already progressed.</li>
  </ol>
</div>

<div class="container aligned-center full-page-call-to-action">
    <iframe
  scrolling="no"
  style="width:100%!important;height:220px;border:1px #ccc solid !important"
  src="https://buttondown.email/dartboard?as_embed=true"
  ></iframe>
</div>
