---
title: Press
---
<div class="container">
  <h1>
    Press
  </h1>

  <h2>Playing darts now made even more fun</h2>

  <p>
    Playing darts has always been a fun activity. Impromptu dart games with friends are fun and they aren't tiring either. While some of us may have only played the game when slightly drunk, it is a fantastic game to play in any state. The best part is that you don't need a proper field or equipment - just a dartboard, some darts, and control over your arm and the power you exert. One thing which makes darts a bit hard for competitive play is the lack of a proper darts scorer. It's annoying to keep a pencil and paper with you to keep the score and then to calculate the score based on all your hits.
  </p>

  <p>
    That's why you can now keep score easily through a darts scorer app. No more calculations, no more disagreements about who scored what, and an easy display of who is winning and who is losing. When you are using the darts app, all you have to do is enter the score in the app after every throw. Everything else happens by itself, letting you focus on the game. It also allows the game to move smoothly, and you can check the score any time you want to check it. The app also supports multiple players easily, so when you're competing with friends you guys can all tally our score on the same device. It even supports different rule sets of darts, such as straight out, double out and master out.
  </p>

  <p>
    Keeping score isn't the only thing you will be doing with the darts app. All the data you enter into the app is stored and analysed. You can then view your statistics and historic analysis to judge your performance. If you're trying to get better at darts, simply try different throwing styles and strategies and see how it affects your performance based on historic analysis.
  </p>
</div>
