---
title: Privacy Policy
---
<div class="container">
  <h1>Privacy Policy</h1>

  <p>
    Responsible for the processing of your personal data on our website is David Strauß. The data of David Strauß can be found in the <%= link_to "imprint", "/imprint.html" %>.
  </p>

  <h2>Data Protection</h2>

  <p>
    We take the protection of your personal data very seriously. We process your personal data in accordance with the statutory data protection regulations and this privacy policy.
  </p>

  <p>
    The use of our website is usually possible without providing personal information. When we ask for personal data (for example name, address or email addresses) it is based on free will, if possible.
  </p>

  <h2>Privacy Coordinator</h2>

  <p>
    Our privacy coordinator can be reached at:
  </p>

  <p>
    David Strauß<br>
    Lebachstraße 20/2<br>
    5322 Hof bei Salzburg<br>
    Austria
    <br><br>
    Telephone: +43 664 216 403 4<br>
    Email: david@strauss.io
  </p>

  <h2>Data Processors</h2>

  <p>
    We process your personal information with the assistance of data processors who assist us in providing our services (e.g., web host, e-mail newsletter shipping service).
  </p>

  <ul>
    <li>Host Europe</li>
    <li>Formcarry</li>
  </ul>

  <p>
    These processors are committed to the strict protection of your personal information and may not process your personal information for any purpose other than to provide our services.
  </p>

  <p>
    A transfer of your personal data takes place only to business-typical service providers such as banks (in the case of transfers to you), tax advisers (if you occur in our accounting department), shipping service providers (in case of deliveries to you), etc.
  </p>

  <h2>Server Log File</h2>

  <p>
    This website processes the following personal data in a server log file for the purpose of monitoring the technical function and increasing the reliability of the web server on the basis of the predominant legitimate interests of the person responsible (technical security measures):
  </p>

  <ul>
    <li>Requested content</li>
    <li>Timestamp of request</li>
    <li>Browser user agent</li>
    <li>Operating system</li>
    <li>Referer URL</li>
    <li>Anonymized IP-Adress</li>
    <li>Hostname</li>
  </ul>

  <h2>Cookies</h2>

  <p>This site uses cookies.</p>

  <p>
    Cookies make websites more user-friendly and efficient for the user. A cookie is a small text file used to store information. When visiting a website, the website may place a cookie on the website visitor's computer. If the user revisits the website later, the website may read the data of the previously stored cookie, e.g. determine if the user has visited the site before and which areas of the site the user was particularly interested in.
  </p>

  <p>
    More information about cookies can be found on <a href="https://en.wikipedia.org/wiki/HTTP_cookie">Wikipedia</a>.
  </p>

  <h2>Change The Cookie Settings</h2>

  <p>
    How the web browser handles cookies, which cookies are allowed or denied, the user can specify in the settings of the web browser. Where exactly these settings are depends on the respective web browser. Detailed information can be accessed via the help function of the respective web browser.
  </p>

  <p>
      If the use of cookies is restricted, it may not be possible to fully use all functions of this website.
  </p>

  <h2>Cookies On Our Website</h2>

  <p>
    Our website processes the following cookies:
  </p>

  <ul>
    <li>
      <p>
        Absolutely necessary cookies to ensure basic functions of the website
      </p>

      <ul>
        <li><em>device-session-token</em>: Used to persist players on device.</li>
      </ul>
    </li>
  </ul>

  <h2>Your Rights</h2>

  <p>
    You have the right to information, correction, deletion and restriction of the processing of personal data.
  </p>

  <p>
    You have the right to revoke any consent granted for the processing of your personal data. The legality of the processing of the personal data until the revocation is not affected by the revocation.
  </p>

  <p>
    You have the right to object to the processing of your personal data for the purpose of direct mail. In the case of opposition, your personal data will no longer be processed for direct marketing purposes.
  </p>

  <p>
    Furthermore, you have the right to complain to the supervisory authority (Österreichische Datenschutzbehörde, Wickenburggasse 8, 1080 Vienna, dsb@dsb.gv.at).
  </p>
</div>
